body {
    margin: 0px;
}
#header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 54, 105);
    margin-bottom: 10px;
}
#header h1 {
    color: rgb(255, 255, 255);
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.kata {
    min-width: 500px;
    border: 2px solid black;
    background: lightsalmon;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding: 10px;
    margin: 10px; 
    border-radius: 5px;
}